@keyframes pulsating-border {
    from {
        box-shadow: 0 0 5px rgba(255, 0, 2, 1) inset;
    }
    to {
        box-shadow: 0 0 0 rgba(255, 0, 2, 0) inset;
    }
}

.task-list-item {
    display: flex;
}

.task-list-item.running {
    animation: 1s ease infinite alternate pulsating-border;
}

.task-list-item-main {
    max-width: 30%;
    padding-right: 10px;
    overflow-x: hidden;
}

.task-list-item-project {
    padding: 9px 10px 0 10px;
    margin-right: auto;
}

.task-list-item-badges {
    padding-right: 10px;
    flex-shrink: 0;
}

.task-list-item-buttons {
    flex-shrink: 0;
}

.task-list-item-buttons .btn {
    margin-left: 5px;
}

.add-new-task-text {
    line-height: 34px;
}
