@keyframes pulsating-border {
    from {
        box-shadow: 0 0 5px rgba(255, 0, 2, 1) inset;
    }
    to {
        box-shadow: 0 0 0 rgba(255, 0, 2, 0) inset;
    }
}

.task-list-item {
    display: flex;
}

.task-list-item.running {
    animation: 1s ease infinite alternate pulsating-border;
}

.task-list-hours {
    font-size: 24px;
}

.task-list-issue {
    display: block;
}

.task-list-item-main {
    width: 100%;
    margin-right: 10px;
    overflow-x: hidden;
}

.task-list-description {
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.task-list-item-badges {
    margin-right: 10px;
    flex-shrink: 0;
}

.task-list-item-buttons {
    flex-shrink: 0;
}

.add-new-task-text {
    line-height: 34px;
}
