.popover.color-picker-overlay {
    max-width: 346px;
}

.color-picker .toggle-wrap {
    display: inline-block;
    position: relative;
}

.color-picker .color-button,
.color-picker-overlay .color-button {
    margin: 0 6px 6px 0;
    float: left;
}

.color-picker .color-button:nth-of-type(8n),
.color-picker-overlay .color-button:nth-of-type(8n) {
    margin-right: 0;
}

.color-picker .color-button:last-of-type,
.color-picker-overlay .color-button:last-of-type {
    margin: 0;
}
